{% extends 'book/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
</head>

<body>

    {% block body %} {% for item in item_list %}
    <br>
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img class="card" height="150px" src="{{ item.item_image}}">
        </div>
        <div class="col-md-4">
            <h2>{{ item.item_name }}</h2>
            <h6>{{ item.item_desc }}</h6>
            <h5>${{ item.item_price }}</h5>
        </div>
        <div class="col-md-2">
            <a href="{% url 'book:detail' item.id %}" class="btn btn-success">Details</a>
        </div>
        <div class="col-md-1">
            <a href="#" class="btn btn-danger">Buy</a>
        </div>
    </div>
    <hr> {% endfor %} {% endblock %}
</body>

</html>
<!-- 
    <ul>
    <li>
        <a href="{{item.id}}"> {{item.id}} -- {{item.item_name}} </a>

        This is a way to remove hardcoding
        <a href="{% url 'food:detail' item.id %}"> {{item.id}} -- {{item.item_name}} </a>
    </li>
</ul> 
-->